
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(15, 162, 211);
  
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


h1 {
    text-align: center;
    color: #00509E;
    font-size: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
}

.form-group input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #00509E;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}
