body {
    margin: 0;
    background-color: rgb(15, 162, 211);
   
}


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: rgb(0, 65, 119); 
    font-size: 2.5rem;
    margin: 10px 0;
}


main p {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

nav ul li a {
    color: white;
    background-color: rgb(17, 17, 100);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: red; 
}

