<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist Selection</title>
</head>
<body>
    <h1>Choose a Watchlist to View</h1>
    <form action="/viewwatchlist" method="post">
        <label for="username">Enter Your Username:</label>
        <input type="text" id="username" name="username" required>

    </form>

</body>
</html>