<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USA</h1>
    
    <ul>
        <li><a href="/search">US Weather Location Search</a></li>
        <li><a href="/add">Add to Watchlist</a></li>
        <li><a href="/watchlist">View Watchlist</a></li>
        <li><a href="/delete">Delete From Watchlist</a></li>
    </ul>

</body>
</html>