<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USA</h1>
    
    <ul>
        <li><a href="search.ejs">Page 1</a>US Weather Location Search</li>
        <li><a href="add.ejs">Page 2</a>Add to Watchlist</li>
        <li><a href="watchlist.ejs">Page 3</a>View Watchlist</li>
        <li><a href="delete.ejs">Page 4</a>Delete From Watchlist</li>
    </ul>

</body>
</html>