<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USA</h1>
    
    <ul>
        <li><a href="page1.html">Page 1</a>US Weather Location Search</li>
        <li><a href="page2.html">Page 2</a>Add to Watchlist</li>
        <li><a href="page3.html">Page 3</a>View Watchlist</li>
        <li><a href="page4.html">Page 4</a>Delete From Watchlist</li>
    </ul>

</body>
</html>