<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>USA Weather App</h1>
        </header>
        <main>

            <nav>
                <ul>
                    <li><a href="/search">🌦 US Weather Location Search</a></li>
                    <li><a href="/add">➕ Add to Watchlist</a></li>
                    <li><a href="/choosewatchlist">📋 View Watchlist</a></li>
                    <li><a href="/delete">🗑 Delete From Watchlist</a></li>
                </ul>
            </nav>
        </main>
    </div>
</body>
</html>