<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Weather</title>
</head>
<body>
    <h1>USA Weather Search</h1>

    <form action="" method="POST">
        <div>
            <label for="zipcode">Zip Code:</label>
            <input type="text" id="zipcode" name="zipcode" required>
        </div>
        <button type="submit">Search</button>
    </form>
    <hr>

</body>
</html>