<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username Error</title>
</head>
<body>
    <h1>Username Error (Not in the database table)</h1>
    <strong>Username doesn't have a watchlist</strong>
</body>
</html>