<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Watchlist</title>
    <link rel="stylesheet" href="/viewwatchlist.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="home-icon">
                <img src="/images/home.png" id="home-button" alt="Home" class="home-icon-img" width="30" height="30">
            </a>

            <h1> <%- username %>'s Watchlist </h1>
        </header>

        <div>
            <%- tableString %>
        </div>

    </div>
</body>
</html>