<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Error</title>
</head>
<body>
    <h1> View Error</h1>
    <strong> <%- username %> has no watchlist to view.</strong>
</body>
</html>