<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Search Error</title>
</head>
<body>
    <p>Weather Search Zip Error</p>
</body>
</html>